@import "_variables";

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  outline: none;
}

//body{
//  display: grid;
//  grid-template-rows:auto 1fr auto;
//  min-height: 100vh;
//}

.wrapper {
  margin: 0 auto;
  width: calc(100vw - 120px);
  max-width: 1600px;
  @media screen and(max-width: $mobile){
    width: calc(100vw - 60px);
  }
}
.wrapper-header{
  margin: 0 auto;
  max-width: 1600px;
  width: calc(100vw - 120px);
  @media screen and(max-width: $mobile){
    width: calc(100vw - 60px);
  }
}

/*header styles*/

.header{
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: .5fr .5fr;
  padding-top: 50px;
}

.header-left{
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: row;
}

.logo-wrapper{
  position: relative;
  margin-right: 29px;
}
.logo-wrapper:after{
  content: "";
  background: url("../images/icon_homepage/icon_header+footer/Slash.svg") no-repeat;
  position: absolute;
  width: 21px;
  height: 47px;
  margin: 0 4px;
}

.header-left p{
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: $maindark;
}


.header-right{
  display: flex;
  flex-direction: column;
}
.nav-header {
  display: grid;
  grid-template-columns: repeat(4,auto);
  justify-content: end;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
 button{
   border: none;
   background: none;
   &.language {
     font-weight: 700;
     font-size: 12px;
     line-height: 15px;
     text-align: center;
     letter-spacing: 1px;
     color: $greytext;
     border-radius: 8px;
     padding: 5px 7px;
     width: 33px;
     background: none;
   }
 }

.language:hover{
  background: $greybackground;
  }

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;

  li {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: $greytext;
    position: relative;
    margin-left: 18px;
  }
  li.language-li{
    margin-left: 0;
  }
}

  .nav-header.right-first {
    margin-bottom: 16px;

    ul {
      align-items: center;
    }

    & a {
      font-weight: 700;
      color: $greytext;
    }
  }

  button.language.active {
    background: $coloraccent;
    color: $greybackground;
  }

.language:hover{
  background: $greybackground;
}

  .nav-header.right-first ul li::before {
    content: " ";
    width: 6px;
    height: 6px;
    position: absolute;
    background: $greyseparator;
    border-radius: 50%;
    top: 8px;
    left: -12px;
  }
.nav-header.right-first ul li.language-li::before{
  display: none;
}
.nav-header.right-first ul li:last-of-type::before{
 top:12px;
}


.nav-header.right-first ul li .facebook-header:hover svg{
  color: $coloraccent;
}

  .nav-header.right-second ul li a {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $blueregular;
    margin-left: 15px;
    position: relative;
    margin-bottom: 5px;
  }

  li.language {
    margin-left: 0;
  }

  .nav-header.right-second ul li a:hover {
    border-bottom: 2px solid $blueregular;
  }

  .nav-header.right-second ul li a.active {
    color: $coloraccent;
  }

  .nav-header.right-second ul li a.active:hover {
    border-bottom: 2px solid $coloraccent;
  }



.header-button-burger{
  display: none;
  position: relative;
}

.submenu{
  background: $white;
  padding: 12px;
  border-radius: 12px 12px 0 0;
  position: absolute;
  flex-direction: column;
  align-items: flex-end;
  top: 94px;
  left: 1px;
  z-index: 1;
  display:none;

  li.submenu-link:not(:first-child){
    background: $greybackground;
    border-radius: 12px;
    padding: 7px 0;
    width: 335px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $blueregular;
    text-align: center;
    margin-top: 15px;

    .active{
      color: $coloraccent;
    }

  }

}

.header-button-burger:hover .submenu {
  display: block;
}


//*main-styles

  h1 {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    background: $gradientredtext;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    margin: 60px auto;
    padding: 0 120px;
  }

  .team {
    max-width: 1600px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 60px;
    margin-bottom: 120px;

    .people {
      min-width: 400px;
      position: relative;

      img {
        height: 400px;
        width: 100%;
        object-fit: cover;
        border-radius: 12px;
        margin-bottom: 15px;
      }

      img:hover{
        transform: scale(1.2);
        z-index: 2;
        position: absolute;
        transition: 1s ease-in-out;
      }

    }

    h4 {
      @include h4;

      button {
        width: 32px;
        height: 32px;
        background-color: $greybackground;
        outline: none;
        border: 0;
        border-radius: 50%;
        position: absolute;
        right: 0;

        svg {
          color: $blueregular;
        }
      }
    }

    span {
      @include span-small;
      color: $greytext;
    }
  }

  h4:hover a {
    color: $coloraccent;
  }

  h4:hover button svg {
    color: $coloraccent;
  }


  //footer styles
  footer {
    background: $greybackground;
  }

  .footer {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 1fr;
    padding: 30px 0;

    svg {
      color: $blueregular;
    }

    span {
      @include ul-li;
      color: $greytext;
      &.address{
        color: $maindark;
      }
    }

  }

  .footer-left {
    display: grid;
    grid-template-rows: 1fr 1fr;

    &--first ul li {
      position: relative;
    }

    &--second ul {
      align-items: center;

      li {
        @include ul-li;
        justify-items: center;
        position: relative;
        @media screen and (max-width: $mobile){
          margin-right: 0;
        }
      }
    }

    .tel {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }

    .map {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $blueregular;
    }

    .mail {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: $blueregular;
    }
  }

  .footer-right {
    justify-self: end;
  }

 .footer-left ul li:not(:first-child)::before {
  content: " ";
  width: 6px;
  height: 6px;
  position: absolute;
  background: $greytext;
  border-radius: 50%;
   top: 8px;
   left: -16px;
}

.footer-left--second ul li a.facebook-footer:hover svg{
  color:$coloraccent;
}

.footer-left--second ul li a.mail:hover{
  color:$coloraccent;
}

//**media-request

@media screen and (max-width: $desktopSD) {
  //.wrapper{
  //  width: 84vw;
  //}
  .team {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    .people {
      min-width: 290px;
    }
  }
}

@media screen and (max-width: $intermediate) {
  .header{
    grid-template-columns: 0.6fr 1.4fr;
    .header-left p{
      font-size: 22px;
    }

  }

  .team {
    grid-template-columns: repeat(auto-fill, minmax(261px, 1fr));
    .people {
      min-width: 261px;
    }
  }
}

@media screen and (max-width: $tabletSD) {
  .team {
    grid-template-columns: repeat(auto-fill, minmax(294px, 1fr));
    .people {
      min-width: 294px;
    }
  }
  h1{
    padding: 0;
    margin:60px 0;
  }  .header {
     grid-template-columns: 1fr;
     grid-template-rows: auto auto auto;
     margin: 0 0 60px;
     grid-row-gap: 30px;
    .header-left{
      grid-row: 2;
    }
    .nav-header.right-first{
      margin-bottom: 0;
      grid-row: 1;
      grid-column: 1;
      justify-content: start;
    }
    .nav-header.right-second{
      grid-column: 1;
      justify-content: start;
      li{
        margin-left: 0;
        margin-right: 15px;
        a{
          margin-left: 0;
        }
      }
    }
}
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    justify-self: center;

    .footer-right{
      grid-row: 2;
      justify-self: center;
    }
    .footer-left{
      margin: 0 auto 30px;

    }
  }
}

@media screen and (max-width: 639px) {

  .wrapper{
    width: calc(100vw - 60px);
  }
  h1 {
    margin: 30px 0 30px;
  }
  //header{
  //  overflow: hidden;
  //}
  .wrapper-header{
    width: calc(100vw - 30px);
  }

  .header::before {
    background-color: $greybackground;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 50%;
    width: 100vw;
    z-index: -1;
    overflow: hidden;
  }
  .header::after {
    background-color: $greybackground;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 50%;
    width: 100vw;
    z-index: -1;
    overflow: hidden;
  }

  .header {
    margin: 0;
    grid-template-columns: 1.3fr .7fr;
    grid-template-rows: auto auto;
    grid-row-gap: 15px;
    padding: 10px 0;
    position: relative;

    //.header-left{
    //  @media screen and (max-width: 639px){
    //    margin-top: 15px;
    //  }

    .nav-header {
      grid-template-columns: repeat(3, auto) 1fr;
    }

    nav.nav-header.right-second {
      display: none;
    }

    //.nav-header.right-first::before{
    //  background-color: $greybackground;
    //  position: absolute;
    //  content: '';
    //  top: 0;
    //  left: 0;
    //  height: 50%;
    //  width: 100%;
    //}

    .nav-header.right-first {
      grid-column: 1 /span 3;
      background:$greybackground;

      ul {
        justify-self: end;

        li {
          margin-left: 0;
        }
      }

      ul li::before {
        display: none;
      }

      li.header-address-mobile, .facebook-header {
        display: none;
      }

      li.header-tel {
        grid-column: 5;

        a {
          align-self: flex-end;
        }
      }
    }

    .logo-wrapper {
      position: relative;
      margin-right: 20px;

      img {
        width: 69px;
        height: 32px;
      }
    }

    .logo-wrapper:after {
      content: "";
      background: url("../images/icon_homepage/icon_header+footer/Slash_mobile.svg") no-repeat;
      position: absolute;
      width: 12px;
      height: 26px;
      margin: 0 4px;
    }

    .header-left p {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
    }

    .header-button-burger {
      display: block;
      justify-self: end;
      grid-row: 2;
      align-self: end;
    }
  }

  @media screen and (max-width: $mobile) {
    h1 {
      margin: 30px 0 30px;
    }

      .header {
        margin: 0;
        grid-template-columns: 1.3fr .7fr;
        grid-template-rows: auto auto;
        grid-row-gap: 15px;

        .nav-header {
          grid-template-columns: repeat(3, auto) 1fr;
        }

        nav.nav-header.right-second {
          display: none;
        }

        .nav-header.right-first {
          grid-column: 1 /span 3;

          ul {
            justify-self: end;

            li {
              margin-left: 0;
            }
          }

          ul li::before {
            display: none;
          }

          li.header-address-mobile, .facebook-header {
            display: none;
          }

          li.header-tel {
            grid-column: 5;

            a {
              align-self: flex-end;
            }
          }
        }

        .logo-wrapper {

          img {
            width: 69px;
            height: 32px;
          }
        }

        .logo-wrapper:after {
          content: "";
          background: url("../images/icon_homepage/icon_header+footer/Slash_mobile.svg") no-repeat;
          position: absolute;
          width: 12px;
          height: 26px;
          margin: 0 4px;
        }

        .header-left p {
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
        }

        .header-button-burger {
          display: block;
          justify-self: end;
          grid-row: 2;
        }


        .header-button-burger:hover {
          background: $greyseparator;
          border-radius: 8px;
          width: 32px;
          height: 32px;

          li.submenu-link:hover {
            background: $greyseparator;
          }
        }

        ul.header-button-burger:hover .submenu {
          display: block;
        }

      }
    }


    .team {
      grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
      grid-gap: 30px;

      .people {
        min-width: 315px;

        img {
          height: 300px;
        }
      }
    }

    //footer
    footer {
      .footer {
        grid-template-rows: auto auto;

        .footer-left {
          grid-template-rows:auto auto;
          grid-row-gap: 21px;
        }

        ul {
          flex-direction: column;

          li:not(:first-of-type) {
            margin-top: 10px;
          }

          @media screen and (max-width: $mobile) {
            span {
              margin-right: 0;
            }

          }
        }
      }

      .footer-left ul li::before {
        display: none;
      }
    }
  }

